html, body {
  font-family: 'Nunito', sans-serif;
  width: 100%;
  height: 100%;
  position: relative;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #383b3f;
  font-weight: 800;
}
main {
  position: absolute;
  min-width: 320px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.message {
  font-size: 2.5rem;
}
@media only screen and (min-width: 600px) {
  main {
    min-width: 600px;
  }
  .message {
    font-size: 5rem;
  }
}
